@import "reset";
@import "text/main";
@import "flex/main";
@import "entries/main";

body {
  background: url("https://www.elsevier.com/__data/assets/image/0008/149633/UNEXPECTED_1200x628.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header-image {

  img {
    display: none;
  }
}

@media (max-width: 1024px) {

  body {
    background: #000;
  }

  .header-image {

    img {
      display: block;
      max-width: 100%;
      overflow: hidden;
    }
  }
}
